<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home page</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
</head>

<body class="bck">

    <h1 class="title">4school</h1> 

    <% if(user){ %>
      <h1>Logged in as <%= user.username%></h1>
   <% } else{ %>
      <h1>Not logged in</h1>
    <% } %>
    <marquee behavior="" direction=""  class="title" ></marquee>
    <div class="row">

        <div class="col-md-3 text" style="height: 80vh;
        overflow: auto;">
          <h2>FILTERS</h2>
          <h4>Subjects</h4>
          <a href="/subjects/italian" class="btn btn-outline-light px">italian</a>
          <a href="/subjects/english" class="btn btn-outline-light px">english</a>
          <a href="/subjects/history" class="btn btn-outline-light px">history</a>
          <a href="/subjects/business" class="btn btn-outline-light px">business</a>
          <a href="/subjects/science" class="btn btn-outline-light px">science</a>
          <a href="/subjects/math" class="btn btn-outline-light px">math</a>
          <a href="/subjects/PHE" class="btn btn-outline-light px">PHE</a>
          <a href="/subjects/computer science" class="btn btn-outline-light px">computer science</a>
          <a href="/subjects/design" class="btn btn-outline-light px">design</a>

          <h4>Class</h4>
          <a href="/classes/MYP1" class="btn btn-outline-light px">MYP1</a>
          <a href="/classes/MYP2" class="btn btn-outline-light px">MYP2</a>
          <a href="/classes/MYP3" class="btn btn-outline-light px">MYP3</a>
          <a href="/classes/MYP4" class="btn btn-outline-light px">MYP4</a>
          <a href="/classes/MYP5" class="btn btn-outline-light px">MYP5</a>
          <a href="/classes/DP1" class="btn btn-outline-light px">DP1</a>
          <a href="/classes/DP2" class="btn btn-outline-light px">DP2</a>
         
         
        </div>

        <div class="col-md-6 text1 " style="height: 80vh;
        overflow: auto;">
          <div class="container">
            <div class="tabbar tab-style2">
              <ul class="flex-center">
                <li class="home active" data-where="home"><span class="material-icons-outlined">
                    home
                  </span></li>
                <li class="products" data-where="products"><span class="material-icons-outlined">
                    shopping_bag
                  </span></li>
                <li class="services" data-where="services"><span class="material-icons-outlined">
                    plumbing
                  </span></li>
                <li class="about" data-where="about"><span class="material-icons-outlined">
                    business
                  </span></li>
                <li class="help" data-where="help"><span class="material-icons-outlined">
                    help_outline
                  </span></li>
              </ul>
            </div>
          </div>
        
          <div class="container">
            <div class="tabbar tab-style1">
              <ul class="flex-center">
                <li class="home active" data-where="home"><span class="material-icons-outlined">
                    home
                  </span></li>
                <li class="products" data-where="products"><span class="material-icons-outlined">
                    shopping_bag
                  </span></li>
                <li class="services" data-where="services"><span class="material-icons-outlined">
                    plumbing
                  </span></li>
                <li class="about" data-where="about"><span class="material-icons-outlined">
                    business
                  </span></li>
                <li class="help" data-where="help"><span class="material-icons-outlined">
                    help_outline
                  </span></li>
                <li class="follow">&nbsp;</li>
              </ul>
            </div>
          </div>
            <% if (filter) {%> 
              <h1>Filtered by <%= filter.natypeme %> : <%= filter.value %> </h1>
              <a href="/">Reset</a>
            <% } %> 
            <a href="/notes/create">create notes</a>
            <% notes.forEach( (note) => { %>
                <div class ="box sb1">
                  <h2><%= note.title %> </h3>
                  <img src="<%= note.image %>" alt="">
                  <h4><%- notes.caption %> </h4>
                  <h4><%- notes.subject %> </h4>
                  <h4><%- notes.class %> </h4>
                  <a href="/notes/<%= note._id %>">open notes</a>
                </div>
              <% }); %>
        </div>
        <div class="col-md-2 text" style="height: 80vh;
        overflow: auto;">my account

        <div class="col-md-6 text1 ">body</div>
        <div class="col-md-2 text">My Account:

            <a href="/login">login</a>
        </div>
        <a href="/logout">logout</a>
        <div>
          <a href="/profile">Your Profile</a>



</body>
</html>

